<div class="header3">	
	<div class="text-center">
    <br /> <br />
	<%= image_tag "bearded-man.png", size: "250x250", class: "mylogo" %>
	</div><br />
	<h1 class="fresh"> READY TO GET FRESH? </h1><br /><br />
<div class="log-in">
		<div class="form-group inputsmy">
			<%= form_for :session, :url => sessions_path do |f| %>

				<%= f.text_field :email, placeholder: "E-mail", :class => "form-control" %><br />

				<%= f.password_field :password, placeholder: "Password", :class => "form-control" %><br />
			<%= f.submit "LOGIN", class: 'btn btn-primary btn-wide' %> 
			<% end %>
			</div>
		</div>
</div>