<h1>Cut Some Hair!</h1><br>

<div class="col-sm-4 col-sm-offset-4">
	<%= form_for [@barber, @portfolio] do |f| %> 


	<div class="form-group">
	<%= f.text_field :title, placeholder: "Edit Picture Title", class: 'form-control' %><br />
	</div>
	
	<div class="form-group">
	<%= f.text_field :description, placeholder: "Edit Picture Description", class: 'form-control' %><br />
	</div>

	<div class="form-group">
	<%= f.file_field :photo %><br />
	</div>
<!-- 	link_to "Delete Picture", barber_portfolio(current_barber), method: :delete, class: "btn btn-submit btn-warning" %> -->
	<%= f.submit "Update Picture", class: 'btn btn-primary'%>

	<%= link_to "Delete Picture",[@barber,@portfolio], :confirm => 'Are you sure?', method: :delete, class: "btn btn-submit btn-warning" %>

	<% end %>


</div>

	