<!-- <h1>Barber Portfolio</h1> -->
<div class="spacey"></div>

<div class="text-center imageport">

<%= image_tag @portfolio.photo(:medium), class: "img-responsive", width: 400 %>

</div>
<br />
<div class="row">

<div class="text-center">

<% if @barber == current_barber %>
<%= link_to "Edit", edit_barber_portfolio_path, class: 'btn btn-primary btn-lg' %>
<% end %>


<!--  Check to see if we are logged in before seeing if we like the @portfolio to prevent errors! -->
<% if ( (current_barber && current_barber.likes?(@portfolio)) || (current_user && current_user.likes?(@portfolio)) ) %>
	<%= link_to 'Unlike Picture', barber_portfolio_unlike_path(@barber, @portfolio), method: :post, class: 'btn btn-primary btn-lg' %>
<% else %>
	<%= link_to 'First Like', barber_portfolio_like_path(@barber, @portfolio), method: :post, class: 'btn btn-primary btn-lg' %>
<% end %>



<!-- We had an end after the first if for the current barber. And an end after the current user's if. That worked. We also passed in a Barber only if your the current barber. And passed in a Customer if your the current_user. That worked. For now I'm putting an else. For some reason, if your a customer or barber, you can like the picture. Great! But if both a customer and barber like the same picture, that doesn't increment the count to 2. It will stay at 1. That's a problem. They both liked the same picture so it should say 2. -->

<!-- If I use the else we currently have, it counts the barber's like, but not the customer's like -->

<!-- In the console, Customer && Barber only finds the Barber that likes that picture. Customer || Barber only finds the Customer that likes the picture. -->
<% if current_barber %>
	<%= @portfolio.likers(Customer && Barber).count %>&nbsp;<span class="glyphicon glyphicon-heart"></span>
<% else %>

<% if current_user %>
	<%= @portfolio.likers(Customer && Barber).count %>&nbsp;<span class="glyphicon glyphicon-heart"></span>
<% end %>
<% end %>



<br /><br />
<% if current_barber %>
<%= form_for [@barber,@portfolio,@comment]  do |f| %>
<div class="col-sm-6 col-sm-offset-3">
	<div class="form-group">

		<%= f.hidden_field :barbername, :value => current_barber.name %>
		<%= f.text_field :content, class:"form-control", :placeholder => "Write a comment..." %>  <br />
	</div>
</div>



<% end %>
<% else %>
<%= form_for [@barber,@portfolio,@comment]  do |f| %>
<div class="col-sm-6 col-sm-offset-3">
<div class="form-group">
	<%= f.hidden_field :customername, :value => current_user.name %>
	<%= f.text_field :content, class:"form-control", :placeholder => "Write a comment..." %>
</div>
</div>
<% end %>
<% end %>
<br />
<% @portfolio.comments.each do |p| %>

<div class="row comments">
  <div class="col-xs-3">

<% if current_barber %>

<%= image_tag current_barber.avatar.url(:thumb), 
class: "img-circle img-profile", width: 34, height: 34 %>
<br />
<strong><%= p.barbername %></strong>
  </div>
  <div class="col-xs-9">

<%= p.content %>

</div>
</div>
<span class="hrwid">
<hr />
</span>
<br /> 

<% else current_user %>
<%= image_tag current_user.avatar.url(:thumb), 
class: "img-circle img-profile", width: 34, height: 34 %>
<br />
<strong><%= p.customername %></strong>
  </div>
  <div class="col-xs-9">

<%= p.content %>

</div>
</div>
<span class="hrwid">
<hr />
</span>
<br /> 


<% end %>
<% end %>

<!-- The other problem is that if other people commented on the same picture it wont show all the comments. It just shows the comments for the current user who is logged in. -->



