
<% if current_barber %> 
<div class="navbar transparent navbar">
	<nav class="navbar navbar-default" role="navigation"> 
		<div class="container-fluid">

			<div class="navbar-header">

				<div class ="brand">
					<!-- A picture of the brand should go here -->
				</div>
			</div>

			<ul class="nav navbar-nav navbar-right">
				 <%= image_tag current_barber.avatar.url(:thumb), class: "img-circle img-profile", width: 34 %>   
			<li class =""><%= link_to "New Profile", new_barber_portfolio_path(@barber) %></li>
				<li class =""><%= link_to "Edit Profile", edit_barber_path(current_barber) %></li>
				<li class =""><%= link_to "Logout", session_path(current_barber), method: :delete, html:{style:"color: black;"} %></li>
			</li>

<% elsif !current_barber %> 

<div class="navbar transparent navbar">
	<nav class="navbar navbar-default" role="navigation"> 
		<div class="container-fluid">

			<div class="navbar-header">

				<div class ="brand">
					<a class="navbar-brand" style="color: black;" href="http://localhost:3000"> Menu </a>
				</div>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class =""><%= link_to "Login", new_session_path, method: :get %></li>
    <% end %>
    
  </ul>
</nav> 