
<% if current_barber %> 

	
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">

			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a href="<%= barbers_path %>" class="navbar-brand">
		        <!-- image_tag 'Brand1.png', class: 'nav-logo' 
		        image_tag 'Brand.png', class: 'nav-logo-name'  -->
		      </a>
		  <ul class="nav navbar-nav navbar-left">
				<%= link_to (image_tag "logo-logo.png", size: "12x50", class: "text-center logo"), barber_path(current_barber) %>
			</ul>
			</div>


			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class =""><%= link_to "Find Barbers", barbers_path %></li>
				<li class =""><%= link_to "New Picture", new_barber_portfolio_path(current_barber) %></li>
				<li class =""><%= link_to "Edit Profile", edit_barber_path(current_barber) %></li>
				<li class =""><%= link_to "Logout", session_path(current_barber), method: :delete, html:{style:"color: black;"} %></li>
				<li class =""><%= link_to (image_tag current_barber.avatar.url(:thumb), class: "img-circle img-profile", width: 40, height: 40), barber_path(current_barber) %></li>
		

			 

<% elsif current_user %> 

<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">

			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a href="<%= barbers_path %>" class="navbar-brand">
		        <!-- image_tag 'Brand1.png', class: 'nav-logo' 
		        image_tag 'Brand.png', class: 'nav-logo-name'  -->
		      </a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class =""><%= link_to "Find Barbers", barbers_path %></li>
				<li class =""><%= link_to "Edit Profile", edit_barber_path(current_user) %></li>
				<li class =""><%= link_to "Logout", session_path(current_user), method: :delete, html:{style:"color: black;"} %></li>
				<li class =""><%= link_to (image_tag current_user.avatar.url(:thumb), class: "img-circle img-profile", width: 40, height: 40), customer_path(current_user) %></li>




<% else !current_barber || !current_user %> 


	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">

			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a href="<%= barbers_path %>" class="navbar-brand">
		        <!-- image_tag 'Brand1.png', class: 'nav-logo' 
		        image_tag 'Brand.png', class: 'nav-logo-name'  -->
		      </a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<!-- 	<a class="navbar-brand"><%= image_tag "logo-logo.png", size: "12x50", class: "text-center logo" %> -->
			<ul class="nav navbar-nav navbar-right">				
				<li class =""><%= link_to "Login", new_session_path, method: :get %></li>
				
<% end %>
</ul><!-- end of ul -->
</nav> <!-- end of nav bar -->
</div> <!-- end of nav bar collapse -->







<!-- paul kim barber is ga@yahoo.com -->
<!-- barber is dudu06@juno.com
customer is jeremidudu@gmail.com -->
