<div id="container">



<div class="content"> <!-- This is the red background -->
		<div class="container-fluid">
							<h1><%#= image_tag @barber.avatar %></h1>
						<h1><%= image_tag @barber.avatar(:medium), class: "img-circle", width: 120, height: 120 %></h1>
						<h1><%= @barber.name %></h1>
						<h2><%= @barber.bio %></h2>

						<ul class="contact-info">	
							<li><span class="glyphicon glyphicon-home"><%= @barber.zipcode %></span></li>
							<li><span class="glyphicon glyphicon-envelope"><%= @barber.email %></span></li>
							<li><span class="glyphicon glyphicon-usd"><%= @barber.low_price %>-<%= @barber.high_price %></span></li>
						</ul>

						<div class="page-divider">

				<div class="container">
					<div class="row">	
						<div class="col-lg-9 col-sm-6 col-xs-6">
							<% @portfolio.each do |p| %>
							<p><%= p.title %></p>
							<p><%= p.description %></p>
							
							<%= image_tag p.photo(:medium), class: "thumbnail img-responsive", width: 350, height: 150, borderradius: 30 %>
							<% end %>
							
<%= will_paginate @portfolio %>	
						</div>
						</div>
					</div>
				</div>

</div> <!-- content div -->

</div> <!-- container div -->



