<div class="wrapper"> <!-- This is the gray background -->

	<div id ="main"> <!-- This div holds the content on the barber page -->
		
		<div class="profile-head">
			<h1><%#= image_tag @barber.avatar %></h1>
			<h1><%= image_tag @barber.avatar(:medium), class: "img-circle", width: 120, height: 120 %></h1>
			<h1><%= @barber.name %></h1>
			<h2><%= @barber.bio %></h2>
			
			<ul class="contact-info">
				<%= link_to 'Follow Barber', barber_follow_path(@barber, @socializable), method: :post, class: 'btn btn-primary btn-lg' %>
				<%= link_to 'UNFollow Barber', barber_unfollow_path(@barber, @socializable), method: :post, class: 'btn btn-primary btn-lg' %>
				<li><span class="glyphicon glyphicon-home"><%= @barber.zipcode %></span></li>
				<%= mail_to @barber.email do %>
				<li><span class="glyphicon glyphicon-envelope"></span></a></li>
				<% end %>
				<li><span class="glyphicon glyphicon-usd"><%= @barber.low_price %>-<%= @barber.high_price %></span></li>
			</ul>
		</div> <!-- end of profile-head div -->

		<!-- <div class="container"> --> <!-- This container is actually making our pictures center differently  -->
		<div class="row">	
		
			<% @portfolio.each do |p| %>
		

			<!-- 	<div id="b-picture"> --> 

			<!-- <div id="overlay"> -->
			<div id="picture-holder" class="col-lg-4 col-md-6 col-sm-4 col-xs-12">
				<ol>
					<a class="overlay">		
						<a href="<%= barber_portfolio_path(@barber, p) %>">
						<li><%= image_tag p.photo(:medium), class: "img-responsive", width: 400 %></li>
						<p><%= p.title %></br><%= p.description %></p>
						</a>
					</a>
				</div>
				<% end %> <!-- This is the end for the portfolio do p -->
			
	
				<%= will_paginate @portfolio %>	
				</ol>
			</div>
		</div> <!-- end of row div -->
		<!-- </div> --> <!-- end of container div -->

	</div> <!-- end of main div -->

</div> <!-- end of wrapper div -->

<!-- TO GET A COUNT OF HOW MANY TIMES A PICTURE WAS LIKED PUT THIS: -->
<!-- @portfolios.likes.count  -->

