<div class="wrapper"> <!-- This is the gray background -->

	<div id ="main"> <!-- This div holds the content on the barber page -->
		
		<div class="profile-head">
			
			<div class="profile-pic">
			<h1><%= image_tag @barber.avatar(:medium), class: "img-circle", width: 120, height: 120 %></h1>
			</div>

			<h1><%= @barber.name %></h1>
			<h2><%= @barber.bio %></h2>


			<div class="follow-button">
			<% if current_barber == Barber.find(params[:id]) %>
				<% else %>
			<!-- 	<%= @barber.follows?(current_barber || current_user) %> THIS SHOWS TRUE OR FALSE-->

				<% if @barber.follows?(current_barber || current_user) %>
				<%= link_to 'Unfollow Barber', barber_unfollow_path(@barber || @customer), method: :post, class: 'btn btn-primary btn-lg' %>
				<% else @barber.unfollow!(current_barber || current_user) %>
				<%= link_to 'Follow Barber', barber_follow_path(@barber || @customer), method: :post, class: 'btn btn-primary btn-lg' %>
				<% end %> 

				<% end %>
			</div>

			
			<div class="contact-info">
					
				<%# Follow.where(followable_id: 1).each do |x| %>
				<%#= x.follower_id %>
				<%# end %>

				
<!-- When a customer follows a barber it shows up in the console that the follow is false. Probably based on the current code above. -->



				<!-- This is for the barbers count below, both if and else -->
				<% if current_barber %>
				<a href="<%= barber_pages_path(@barber.id || @customer.id) %>">
					<!-- Displays how many fans barber has -->
				<%= @barber.followables(Barber || Customer).count %><span> FANS</span>
				</a>&nbsp;&nbsp;
				<a href="<%= pages_following_path(@barber.id || @customer.id) %>">
					<!-- Displays how many people barber is following -->
				<%= @barber.followers(Barber || Customer).count %><span> FOLLOWING</span>
				</a>
				<% end %>

				<!-- I updated this logic below on 11-13...I think it works, but check back again on 11-15 to make sure -->
				<% if current_user %>
				<a href="<%= barber_pages_path(@barber.id || @customer.id) %>">
				<%= @barber.followables(Customer || Barber).count %>&nbsp;<span>FANS</span>
				</a>&nbsp;&nbsp;
				<a href="<%= pages_following_path(@barber.id || @customer.id) %>">
				<%= @barber.followers(Customer || Barber).count %>&nbsp;<span>FOLLOWING</span>
				</a>

				 <%= get_fans(@barber || @customer) %>&nbsp;<span>new fans</span>

				 <%= get_follows(@barber || @customer) %>&nbsp;<span>new following</span>

				<% end %>


			<span class="barberLocation"><span class="glyphicon glyphicon-home"></span>&nbsp;<%= @barber.zipcode %></span>

				<span class="contactBarberIcon">
					<%= mail_to @barber.email do %>
					<span class="glyphicon glyphicon-envelope"></span> CONTACT</a>
					<% end %>
				</span>

				<span class="barber-price"><span class="glyphicon glyphicon-usd"></span>&nbsp;<%= @barber.low_price %>&nbsp;-&nbsp;<%= @barber.high_price %></span>
			</div>
		</div> <!-- end of profile-head div -->


<div class="row">	
				<% @portfolio.each do |p| %>
		<div id="picture-holder" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<ol>
					<a href="<%= barber_portfolio_path(@barber, p) %>">
					<li><%= image_tag p.photo(:medium), class: "img-responsive", width: 400 %></li>
					</a>	
					<h5><%= p.title %></h5><p><%= p.description %></p>
					</div>
				<% end %> <!-- This is the end for the portfolio do p -->
			</ol>
			<%= will_paginate @portfolio %>
		</div>
	</div> <!-- end of row div -->


</div> <!-- end of main div -->

</div> <!-- end of wrapper div -->