<div class="wrapper"> <!-- This is the gray background -->

	<div id ="main"> <!-- This div holds the content on the barber page -->
		
		<div class="profile-head">
			
			<h1><%= image_tag @barber.avatar(:medium), class: "img-circle", width: 120, height: 120 %></h1>
			<h1><%= @barber.name %></h1>
			<h2><%= @barber.bio %></h2>

			
			<div class="contact-info">
				
			<!-- 	
				<% Follow.where(followable_id: 1).each do |x| %>
				<%= x.follower_id %>
				<% end %> -->

				<% if current_barber == Barber.find(params[:id]) %>
				<% else %>
				<%= @barber.follows?(current_barber || current_user) %>

				<% if @barber.follows?(current_barber || current_user) %>
				<%= link_to 'Unfollow Barber', barber_unfollow_path(@barber || @customer), method: :post, class: 'btn btn-primary btn-lg' %>
				<% else @barber.unfollow!(current_barber || current_user) %>
				<%= link_to 'Follow Barber', barber_follow_path(@barber || @customer), method: :post, class: 'btn btn-primary btn-lg' %>
				<% end %> 

				<% end %>

				<% if current_barber %>
				<a href="<%= barber_pages_path(@barber.id || @customer.id) %>">
				<%= @barber.followers(Barber || Customer).count %><span> fans</span>
				</a>&nbsp;&nbsp;
				<a href="<%= pages_following_path(@barber.id || @customer.id) %>">
				<%= @barber.followables(Barber || Customer).count %><span> following</span>
				</a>

				<!-- I updated this logic below on 11-13...I think it works, but check back again on 11-15 to make sure -->
				<% else current_user%>
				<a href="<%= barber_pages_path(@barber.id || @customer.id) %>">
				<%= @barber.followers(Customer).count %><span>follows</span>
				</a>
				<a href="<%= pages_following_path(@barber.id || @customer.id) %>">
				<%= @barber.followables(Customer).count %><span>following</span>
				</a>
				<% end %>


			<span class="barberLocation"><span class="glyphicon glyphicon-home"></span>&nbsp;<%= @barber.zipcode %></span>

				<span class="contactBarberIcon">
					<%= mail_to @barber.email do %>
					<span class="glyphicon glyphicon-envelope"></span> Contact</a>
					<% end %>
				</span>

				<span class="glyphicon glyphicon-usd"><%= @barber.low_price %>-<%= @barber.high_price %></span>
			</div>
		</div> <!-- end of profile-head div -->


	<div class="row">	
				<% @portfolio.each do |p| %>
						<div class="spacey"></div>
		<div id="picture-holder" class="col-lg-4 col-md-6 col-sm-4 col-xs-12">
			<ol>
					<a href="<%= barber_portfolio_path(@barber, p) %>">
					<li>
						<div class="barberImages">
							<%= image_tag p.photo(:medium), class: "img-responsive", width: 400 %>
							<span class="textOverlay">
								<div class="innerTxt">
<!-- 									<span class="glyphicon glyphicon-user">
									</span> -->
								</div>
							</span>
						</div>

					</li>

					</a>	
					<p><%#= p.title %></br><%#= p.description %></p>
					</div>
				<% end %> <!-- This is the end for the portfolio do p -->
			</ol>
			<%= will_paginate @portfolio %>	
		</div>
	</div> <!-- end of row div -->


</div> <!-- end of main div -->

</div> <!-- end of wrapper div -->