<div class="spacer"></div>
<h1>READY TO LOOK FANTASTIC?</h1><br>

<div class="col-sm-4 col-sm-offset-4">
	<%= form_for @customers, html: { class: "directUpload" } do |f| %> 


	<div class="form-group">
	<%= f.text_field :email, placeholder: "E-Mail", class: 'form-control' %>
	</div>
	
	<div class="form-group">
	<%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
	</div>

	<div class="form-group">
	<%= f.text_field :zipcode, placeholder: "zipcode", class: 'form-control' %>
	</div>


	<div class="form-group">
	<%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
	</div>

	<div class="form-group">
	<%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %>
	</div>
	
	<div class="form-group">
	<%= f.file_field :avatar %>
	</div>

	<%= f.submit "Submit", class: 'btn btn-primary'%>

	<% end %>


</div>