<div class="wrapper"> 


	<div id ="customer-main"> <!-- This div holds the content on the customer page -->

		<div class="profile-head">
			<h1><%= image_tag @customer.avatar(:medium), class: "img-circle", width: 120, height: 120 %></h1>
			<h1><%= @customer.name %></h1>
			<h2><%= @customer.bio %></h2>

			<div class="contact-info">

				<% if current_user == Customer.find(params[:id]) %>
				<% else %>
				<%= @customer.follows?(current_barber || current_user) %>

				<%# if @barber.follows?(current_barber || current_user) %>
				<%#= link_to 'Unfollow Barber', barber_unfollow_path(@barber || @customer), method: :post, class: 'btn btn-primary btn-lg' %>
				<%# else @barber.unfollow!(current_barber || current_user) %>
				<%#= link_to 'Follow Barber', barber_follow_path(@barber || @customer), method: :post, class: 'btn btn-primary btn-lg' %>
				<%# end %> 

				<% end %>


				<a href="<%= barber_pages_path(@customer.id) %>">
					<%= @customer.followables(Barber || Customer).count %>&nbsp;<span>admirers</span>
				</a>&nbsp;&nbsp;
				<a href="<%= pages_following_path(@customer.id) %>">
					<%= @customer.followers(Barber || Customer).count %>&nbsp;<span>following</span>
				</a>

				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-home"><%= @customer.zipcode %></span>

				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= mail_to @customer.email do %>
				<span class="glyphicon glyphicon-envelope"></span></a>
				<% end %>
			</div>
		</div> <!-- end of profile-head div -->


	</div> <!-- end of main div -->

</div> <!-- end of wrapper div -->